// colors
$color-h1: #707070;
$color-h2: #C7B299;
$color-h3: #A0D2E3;
$color-body: #44311E;
$color-textlight: #FFFFFF;

$color-accent1: #6EF8C9;
$color-accent2: #10CFE8;
$color-accent3: #D4A127;
$color-accent4: #F45184;



// fonts
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&family=Merriweather&family=Playfair+Display&display=swap');
$font-h1: 'Playfair Display', serif;
$font-h2: 'Merriweather', serif;
$font-h3: 'Cousine', monospace;
$font-body: 'Courier Prime', monospace;