@use 'variables' as *;
@use 'keyframes' as *;

// mixins to take care of repeated patterns.
@mixin lists {
    list-style: none;
}

@mixin unordered-list() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin design-triangle-author() {
    font-size: .9rem;
    border-bottom: none;
}

@mixin design-triangle-name() {
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: none;
}

@mixin red-line-afterwards() {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    clear: both;
    background-color: $color-accent1;
}

@mixin red-line-afterwards-footer($side) {
    content: '';
    position: absolute;
    width: 30rem;
    height: 2px;
    display: block;
    clear: both;
    #{$side}: -35rem;
    top: 50%;
    background-color: $color-accent1;
}

@mixin sunglasses() {
    content: "";
    background-image: url("red_glasses.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5rem;
    height: 3rem;
    display: inline-block;
}

@mixin circle($color) {
    height: 4rem;
    width: 4rem;
    background-color: $color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-h1;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@mixin requirement-number($p-number, $color) {
    content: "#{$p-number}";
    font-size: 4rem;
    font-weight: 800;
    color: $color;
    position: absolute;
    margin-left: -3rem;
}

@mixin requirement-number-large($p-number, $color) {
    content: "#{$p-number}";
    font-size: 4rem;
    font-weight: 800;
    color: $color;
    position: relative;
    display: block;
    text-align: center;
}

@mixin sidebar-formatting($border-color, $background-color) {
    padding: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 4px solid $border-color;
    background-color: $background-color;
    margin-top: 3rem;
    margin: bottom 1px;
    width: 50%;

    h3 {
        text-align: center;
        font-size:1.5rem;
    }
}

// media breakpoints
$break-large: 800px;
$break-small: 500px;

@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) {
            @content;
        }
    }

    @else if $break ==medium {
        @media (max-width: $break-large) {
            @content;
        }
    }

    @else if $break ==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

// element styling

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lighten($color-h2, 65%);
    width: 100%;
    content: " ";
    background-image: url("background_sand.png");
    background-repeat: repeat-y;
    background-size: contain;
}

h1, h2, h3, h4, h5, p {
    padding: 1rem;
}

body {

    width: 100%;
    content: " ";
    

    background: url(beach_background.jpg) top center no-repeat;
   
    background-size: contain;
    position: relative;
}

img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: $font-h2;
    color: $color-h2;
    font-size: 2.5em;
    margin-bottom: 0;
}

h3 {
    font-family: $font-h3;
    text-transform: uppercase;
    color: $color-h3 ;
    font-size: 2em;
    text-align: right;
    margin-bottom: 0;
}

h1 {
    font-family: $font-h1;
    color: $color-h1;
    font-size: 3rem;
    padding-top: 0;
    padding-bottom: 16rem;
    letter-spacing: -2px;
    text-align: left;

    //font-family: aerial;
    // color: #82510a;
    //font-size: 3rem;
    @include breakpoint(large) {
        font-size: 7rem;
        padding-top: 10rem;
        padding-bottom: 50rem;

    }
}

p {
    font-family: $font-body;
    margin: 0;
    color: $color-body;
}

.preamble {
    h3 {
        text-align: center;
    }
}

.summary {
    p~p {
        display: none;
    }
}

a {
   
    color: $color-body;
    text-decoration: none;

    &:hover {
        color: $color-accent4;
        border-bottom: 1px solid $color-accent2;
    }
}

ul {
    @include unordered-list();
}

.explanation,
.participation,
.benefits,
.requirements {
    display: block;

    @include breakpoint(large) {
        &::after {
            @include red-line-afterwards();
            margin-top: 1rem;
        }
    }
}

//.requirements url (beachball.svg)//
   


/* Footer CSS/Git/etc. */
footer {
    display: flex;

    

    padding-bottom: 3rem;
    padding-top: 3rem;


    @include breakpoint(large) {
        justify-content: center;
        gap: 1rem;
    }

    a {
        border-bottom: none;
        // idea: animate circles on hover
    }

    a:first-child {
        @include circle($color-accent1);
    }

    a:nth-child(2) {
        @include circle($color-accent2);
    }

    a:nth-child(3) {
        @include circle($color-accent3);
    }

    a:nth-child(4) {
        @include circle($color-accent4);
    }

    a:nth-child(5) {
        @include circle($color-accent5);
    }
}


.explanation h3,
.participation h3,
.benefits h3 {
    display: block;

    &::before {
        @include sunglasses();
        animation: rotate 3s linear infinite;
    }
}

/* This is the container that holds the h3::before for the animation */
div {
    position: relative;
}


/* NUMBERS BY REQUIREMENT PARAGRAPH */
.requirements>p {
    @include breakpoint(medium) {
        margin-left: 3rem;

       

        &:nth-of-type(2)::before {
            @include requirement-number(1, $color-accent1);
        }

        &:nth-of-type(3)::before {
            @include requirement-number(2, $color-accent4);
        }

        &:nth-of-type(4)::before {
            @include requirement-number(3, $color-accent5);
        }
    }

    @include breakpoint(large) {
        margin-left: 3rem;

     
        &:nth-of-type(1)::after {
            background-image: url(sign_post.png);
            display: block;
            position: absolute;
            left: 25%;
            top: 200px;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 250px;
            height: 500px;
            content: "";
            grid-column: 2/3;
        }
        &:nth-of-type(2)::before {
            @include requirement-number-large(1, $color-accent1);
        }

        &:nth-of-type(3)::before {
            @include requirement-number-large(2, $color-accent4);
        }

        &:nth-of-type(4)::before {
            @include requirement-number-large(3, $color-accent5);
        }
    }
}

footer {
    @include breakpoint(large) {
        position: relative;

        &::before {
            @include red-line-afterwards-footer(left);
        }

        &::after {
            @include red-line-afterwards-footer(right);
        }

    }
}







   
  
   
  


   
   

 

.design-selection {
    @include sidebar-formatting($color-accent2, none);
}












.design-selection nav li {
    background-image: url(pink.png); 
    background: repeat;
}
.design-selection nav ul li{
    padding: 8px;
    text-align:left;
}
.design-selection{
    a~a::before {
        content: ' ';
        display: block;
        position: absolute;
        background-size: contain;
        width: 4rem;
        height: 4rem;
        background-repeat: no-repeat;
        margin: 2rem;
        z-index: -1;
        animation: rain 5s linear infinite;
        top: -20px;
      
    }

    li:nth-child(1){
        grid-column:1/3;
        grid-row: 1/2;
    }
 li:nth-child(1) a::before {
    background-image: url("pink.png");
    left: 0;
    
}

li:nth-child(2) {
    grid-column:3/5;
    grid-row: 1/2;
}

 li:nth-child(2) a::before{
    background-image: url("green.png");
    left: 100px;
}

li:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
}
 li:nth-child(3) a::before{
     background-image: url("gold.png");
}

li:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/4;
}
 li:nth-child(4) a::before{
     background-image: url("coral.png");
} 
li:nth-child(5) {
    grid-column: 1/3;
    grid-row: 5/6;
}
li:nth-child(6) {
    grid-column: 3/5;
    grid-row: 5/6;
}
li:nth-child(7) {
    grid-column:1/3;
    grid-row: 7/8;
}
li:nth-child(8) {
    grid-column: 3/5;
    grid-row: 7/8;
}
}

@keyframes rain {
    0%{
    top: -20px;
    }
    25% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 150px;
    }
    99% {
        top: 180px;
    }
    100% {
        top: 0;
    }
}

.zen-resources {
    @include sidebar-formatting($color-accent6, $color-accent3);
}

.design-archives {
    @include sidebar-formatting($color-accent5, $color-accent4);
}
