@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin lists {
    list-style: none;
}

@mixin unordered-list() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin design-triangle-author() {
    font-size: .9rem;
    border-bottom: none;
}

@mixin design-triangle-name() {
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: none;
}

@mixin red-line-afterwards() {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    clear: both;
    background-color: $color-accent1;
}

@mixin sunglasses() {
    content: "";
    background-image: url(red_glasses.png);
    background-repeat: no-repeat;
    background-size: 65px 30px;
    width: 65px;
    height: 30px;
    display: inline-block;
    position: absolute;
}

// media breakpoints
$break-large: 800px;
$break-small: 200px;

@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) {
            @content;
        }
    }

    @else if $break ==medium {
        @media (min-width: $break-medium) {
            @content;
        }
    }

    @else if $break ==small {
        @media (min-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

// element styling
img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: $font-h2;
}

h3 {
    font-family: $font-h3;
    text-transform: capitalize;
}

h1 {
    font-family: $font-h1;
    color: $color-h1;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    @include breakpoint(large) {
        font-size: 7rem;
        padding-top: 10rem;
        padding-bottom: 50rem;
    }
}

h2 {
    color: $color-h2;
    font-size: 3em;
}

h3 {
    color: $color-h2;
    font-size: 2.25em;
    padding: 0.5em 0 0.25em 0;
}

p {
    font-family: $font-body;
    padding: 0.5em 0;
    margin: 0;
    color: $color-body;
}

a {
    border-bottom: 1px solid $color-accent2;
    color: $color-body;
    text-decoration: none;
}

a:hover {
    color: $color-accent4;
    border-bottom: 1px solid $color-accent4;
}

ul {
    @include unordered-list();
}

.explanation, .participation, .benefits, .requirements {
    display: block;
    &::before {
        @include sunglasses();
    }
    &::after {
        @include red-line-afterwards();
    }
}