@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin lists {
    list-style: none;
}

@mixin unordered-list() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin design-triangle-author() {
    font-size: .9rem;
    border-bottom: none;
}

@mixin design-triangle-name() {
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: none;
}

@mixin red-line-afterwards() {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    clear: both;
    background-color: $color-accent1;
}

@mixin red-line-afterwards-footer($side) {
    content:'';
        position: absolute;
        width: 42rem;
        height: 2px;
        display: block;
        clear: both;
        #{$side}: 0px;
        top: 50%;
        background-color: $color-accent1;
}

@mixin sunglasses() {
    content: "";
   
    background-image: url(red_glasses.png);
    background-repeat: no-repeat;
    background-size: 65px 30px;
    width: 65px;
    height: 30px;
    display: inline-block;
}
@mixin circle($color) {
    height: 4rem;
    width: 4rem;
    background-color: $color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-h1;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@mixin requirement-number($p-number, $color) {
    content: "#{$p-number}";
    font-size: 4rem;
    font-weight: 800;
    color: $color;
    position: absolute;
    margin-left: -3rem;
}

// media breakpoints
$break-large: 800px;
$break-small: 400px;

@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) {
            @content;
        }
    }

    @else if $break ==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }

    @else if $break ==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

// element styling
img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: $font-h2;
    color: $color-h2;
    font-size: 3em;
}

h3 {
    font-family: $font-h3;
    text-transform: capitalize;
    color: $color-h2;
    font-size: 2.25em;
    padding: 0.5em 0 0.25em 0;
}

h1 {
    font-family: $font-h1;
    color: $color-h1;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    @include breakpoint(large) {
        font-size: 7rem;
        padding-top: 10rem;
        padding-bottom: 50rem;
    }
}

p {
    font-family: $font-body;
    padding: 0.5em 0;
    margin: 0;
    color: $color-body;
}

a {
    border-bottom: 1px solid $color-accent2;
    color: $color-body;
    text-decoration: none;
}

a:hover {
    color: $color-accent4;
    border-bottom: 1px solid $color-accent4;
}

ul {
    @include unordered-list();
}

.explanation, .participation, .benefits, .requirements {
    display: block;
    
    
    &::after {
        @include red-line-afterwards();
    }
}

/* Footer CSS/Git/etc. */
footer {
    display: flex;
    justify-content: space-between;

    @include breakpoint(large) {
        justify-content: center;
        gap: 1rem;
    }
}
footer a:first-child {
    @include circle($color-accent1);
}

footer a:nth-child(2) {
    @include circle($color-accent2);
}

footer a:nth-child(3) {
    @include circle($color-accent3);
}

footer a:nth-child(4) {
    @include circle($color-accent4);
}

footer a:nth-child(5) {
    @include circle($color-accent5);
}


.explanation h3, .participation h3, .benefits h3, .requirements h3 {
    display: block;
    &::before {
        @include sunglasses();
    } } 

/* NUMBERS BY REQUIREMENT PARAGRAPH */
.requirements > p {
    @include breakpoint(small) {
    margin-left: 3rem;

    &:first-of-type::before {
        @include requirement-number(1, $color-accent2);
        }

    &:nth-of-type(2)::before {
        @include requirement-number(2, $color-accent1);
        }

    &:nth-of-type(3)::before {
        @include requirement-number(3, $color-accent4);
        }

    &:nth-of-type(4)::before {
        @include requirement-number(4, $color-accent5);
        }
    }
}

footer {
    @include breakpoint(large) {
        position: relative;
        
        &::before {
            @include red-line-afterwards-footer(left);
        }

        &::after {
            @include red-line-afterwards-footer(right);
        }
}
}