
  

  @keyframes rotate {
    0% {
      transform: rotate(0) translate(-15px, 20px);
    }
    15% {
      transform: rotate(0) translate(-15px, 20px);
    }
    20% {
      transform: rotate(20deg) translate(-15px, 20px);
    }
    30% {
      transform: rotate(20deg) translate(-15px, 20px);
    }
    40% {
      transform: rotate(-35deg) translate(-15px, 20px);
    }
    50% {
      transform: rotate(-35deg) translate(-15px, 20px);
    }

 
    100% {
        transform: rotate(360deg) translate(-15px, 20px);
    }
  }