@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)


.preamble {
    @include atoms.breakpoint(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        p {
            grid-column: 1 / 2;
        }
} }

.main {
    @include atoms.breakpoint(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .participation, .explanation, .benefits {
            grid-column: 3 / 4;
        }

        .requirements {
            h3 {
                text-align: center;
            }
            grid-column: 1 / 4;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            h3, p:first-of-type {
                grid-column: 1 / 4;
            }

            p:nth-of-type(2), p:nth-of-type(4) {
                grid-column: 3 / 4;
            }

            p:nth-of-type(3) {
                grid-column: 1 /2;
            }
        }

        footer {
            grid-column: 1 / 4;
        }
    }
}

.design-selection nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 800px) {
    .design-selection nav ul {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .design-selection {
        grid-column: 1/3;
    }
}