// colors
$color-h1: black; //make bold in atoms
$color-h2: #82510A;
// $color-h3: #82510A; // make all caps in atoms
$color-body: #11B7A9;
$color-textlight: #FFFFFF;

$color-accent1: #FF5C35;
$color-accent2: #008AA2;
$color-accent3: #9CBDAD;
$color-accent4: #F77879;
$color-accent5: #EF8700;
$color-accent6: #DA0000;



// fonts
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&family=Merriweather&family=Playfair+Display&display=swap');
$font-h1: Georgia, serif;
$font-h2: Georgia, serif;
$font-h3: Georgia, serif;
$font-body: 'proxima nova', monospace;