@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&family=Merriweather&family=Playfair+Display&display=swap");
img {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Georgia, serif;
  color: #82510A;
  font-size: 3em;
}

h3 {
  font-family: Georgia, serif;
  text-transform: capitalize;
  color: #82510A;
  font-size: 2.25em;
  padding: 0.5em 0 0.25em 0;
}

h1 {
  font-family: Georgia, serif;
  color: black;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
@media (min-width: 800px) {
  h1 {
    font-size: 7rem;
    padding-top: 10rem;
    padding-bottom: 50rem;
  }
}

p {
  font-family: "proxima nova", monospace;
  padding: 0.5em 0;
  margin: 0;
  color: #11B7A9;
}

a {
  border-bottom: 1px solid #008AA2;
  color: #11B7A9;
  text-decoration: none;
}

a:hover {
  color: #F77879;
  border-bottom: 1px solid #F77879;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.explanation, .participation, .benefits, .requirements {
  display: block;
}
.explanation::before, .participation::before, .benefits::before, .requirements::before {
  content: "";
  /* @Debbie 
  delete position absolute */
  background-image: url(red_glasses.png);
  background-repeat: no-repeat;
  background-size: 65px 30px;
  width: 65px;
  height: 30px;
  display: inline-block;
  position: absolute;
}
.explanation::after, .participation::after, .benefits::after, .requirements::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  clear: both;
  background-color: #FF5C35;
}

/* Footer CSS/Git/etc. */
footer {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 800px) {
  footer {
    justify-content: center;
    gap: 1rem;
  }
}

footer a:first-child {
  height: 4rem;
  width: 4rem;
  background-color: #FF5C35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer a:nth-child(2) {
  height: 4rem;
  width: 4rem;
  background-color: #008AA2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer a:nth-child(3) {
  height: 4rem;
  width: 4rem;
  background-color: #9CBDAD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer a:nth-child(4) {
  height: 4rem;
  width: 4rem;
  background-color: #F77879;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer a:nth-child(5) {
  height: 4rem;
  width: 4rem;
  background-color: #EF8700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* @Debbie, I'd recommend putting the sunglasses before the h3,
   so delete the before above (lines 142-144), and replace 
   it with this below:

.explanation h3, .participation h3, .benefits h3, .requirements h3 {
    display: block;
    &::before {
        @include sunglasses();
    } } */
/* NUMBERS BY REQUIREMENT PARAGRAPH */
.requirements > p {
  margin-left: 3rem;
}
.requirements > p:first-of-type::before {
  content: "1";
  font-size: 4rem;
  font-weight: 800;
  color: #008AA2;
  position: absolute;
  margin-left: -3rem;
}
@media (min-width: 800px) {
  .requirements > p:first-of-type::before {
    content: "";
    font-size: 4rem;
    font-weight: 800;
    color: #008AA2;
    position: absolute;
    margin-left: -3rem;
  }
}
.requirements > p:nth-of-type(2)::before {
  content: "2";
  font-size: 4rem;
  font-weight: 800;
  color: #FF5C35;
  position: absolute;
  margin-left: -3rem;
}
@media (min-width: 800px) {
  .requirements > p:nth-of-type(2)::before {
    content: "";
    font-size: 4rem;
    font-weight: 800;
    color: #008AA2;
    position: absolute;
    margin-left: -3rem;
  }
}
.requirements > p:nth-of-type(3)::before {
  content: "3";
  font-size: 4rem;
  font-weight: 800;
  color: #F77879;
  position: absolute;
  margin-left: -3rem;
}
@media (min-width: 800px) {
  .requirements > p:nth-of-type(3)::before {
    content: "";
    font-size: 4rem;
    font-weight: 800;
    color: #008AA2;
    position: absolute;
    margin-left: -3rem;
  }
}
.requirements > p:nth-of-type(4)::before {
  content: "4";
  font-size: 4rem;
  font-weight: 800;
  color: #EF8700;
  position: absolute;
  margin-left: -3rem;
}
@media (min-width: 800px) {
  .requirements > p:nth-of-type(4)::before {
    content: "";
    font-size: 4rem;
    font-weight: 800;
    color: #008AA2;
    position: absolute;
    margin-left: -3rem;
  }
}

h1::after {
  content: "";
  background-image: url(yellow_umbrella_with_chairs.png);
  background-repeat: no-repeat;
  background-size: 10rem 13rem;
  width: 10rem;
  height: 13rem;
  display: inline-block;
  position: absolute;
  right: -4rem;
  top: 6rem;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 800px) {
  h1::after {
    background-size: 50rem 65rem;
    width: 50rem;
    height: 65rem;
    right: -10rem;
    top: 25rem;
  }
}

#css-zen-garden {
  background: url(beach_background.jpg) top center no-repeat, url(background_sand.png) center repeat;
  background-color: #9CBDAD;
  background-size: 100%;
  position: relative;
}

/*# sourceMappingURL=style-pattern.css.map */
