// General pattern styles
@use '_variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms';

// media breakpoints
@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) {
            @content;
        }
    }

    @else if $break ==medium {
        @media (min-width: $break-medium) {
            @content;
        }
    }

    @else if $break ==small {
        @media (min-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

.summary::after {
    content: '';
    background-image: url(seagull.png);
    position: absolute;
    top:0px;
    left:0px;
}

#css-zen-garden {
    background: url(beach_background.jpg) top center no-repeat, url(background_sand.png) center repeat;
    background-color: $color-accent3;
    background-size: 100%;
    position: relative;
}
