// General pattern styles
@use '_variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms';

h2::before {
  content: "";
  background-image: url(yellow_umbrella_with_chairs.png);
  background-repeat: no-repeat;
  
  // to get rid of umbrella in moile view
  // background-size: 2583px 2334px;
  width: 100%;
  // height: 2334px;
  position: absolute;
  right: -4rem;
  top: 10rem;
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  @include atoms.breakpoint(large) {
    background-size: 30rem 39rem;
    width: 40rem;
    height: 52rem;
    right: -15rem;
    top: 25rem;
  }

  @include atoms.breakpoint(small) {
    background-size: 11rem 15rem;
    width: 11rem;
    height: 15rem;
    right: -3rem;
    top: 5rem;
  }
}

// Boardwalk image
.main {
  padding: 2em;
  @include atoms.breakpoint(large) {
    overflow-x: hidden;
  }
  @include atoms.breakpoint(xlarge) {
  padding-top: 30rem;

  &::before {
  content: "";
  overflow-x: hidden;
  background-image: url(boardwalk.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 1200px;
  position: absolute;
  left: 0rem;
  top: 10rem;
  z-index: 10;

  -webkit-transform:rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  }
}
}
