// General pattern styles
@use '_variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms';

h1::after {
    content: '';
    background-image: url(seagull.png);
    position: absolute;
    top:0px;
    left:0px;
    height: 200px;
    z-index: 100;
}

#css-zen-garden {
    background: url(beach_background.jpg) top center no-repeat, url(background_sand.png) center repeat;
    background-color: $color-accent3;
    background-size: 100%;
    position: relative;

    @include atoms.breakpoint(small) {
        
    }
}
