/* Error: Missing argument $color.
 *     ,
 * 60  | @mixin requirement-number($p-number, $color) {
 *     |        ===================================== declaration
 * ... |
 * 216 |             @include requirement-number("",);
 *     |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   _atoms.scss 216:13      requirement-number()
 *   _atoms.scss 216:13      @content
 *   _atoms.scss 76:13       breakpoint()
 *   _atoms.scss 215:9       @use
 *   style-pattern.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Missing argument $color.\a     \2577 \a 60  \2502  @mixin requirement-number($p-number, $color) {\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 216 \2502              @include requirement-number("",);\d\a     \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   _atoms.scss 216:13      requirement-number()\a   _atoms.scss 216:13      @content\a   _atoms.scss 76:13       breakpoint()\a   _atoms.scss 215:9       @use\a   style-pattern.scss 3:1  root stylesheet';
}
